#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo apt install -y tmux urlview fakeroot

# Install Facebook Path Picker https://github.com/facebook/PathPicker
cd /tmp
git clone https://github.com/facebook/PathPicker.git
cd PathPicker/debian
./package.sh
sudo apt install ../pathpicker_*_all.deb
cd /tmp
rm -rf PathPicker

# Install wemux
sudo git clone https://github.com/zolrath/wemux.git /usr/local/share/wemux
sudo ln -s /usr/local/share/wemux/wemux /usr/local/bin/wemux
sudo cp /usr/local/share/wemux/wemux.conf.example /usr/local/etc/wemux.conf
sudo cp /usr/local/share/wemux/man/wemux.1 /usr/local/share/man/man1/wemux.1

{{ else if eq .chezmoi.os "darwin" -}}
brew install tmux fpp urlview wemux
{{ end -}}

# Install oh-my-tmux and symlink
git clone https://github.com/gpakosz/.tmux.git ~/tools/oh-my-tmux
ln -s -f ~/tools/oh-my-tmux/.tmux.conf ~/.tmux.conf
