#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

if ! [ -x "$(command -v bob)" ]; then
    info '💻 Installing bob'
    cargo install bob-nvim
    asdf reshim rust
    success 'bob'
else
    skip 'bob'
fi

bob use stable

if ! [ -x "$(command -v beautysh)" ]; then
    info '💻 Installing beautysh'
    pip3 install beautysh
    asdf reshim python
    success 'beautysh'
else
    skip 'beautysh'
fi

if ! [ -x "$(command -v autopep8)" ]; then
    info '💻 Installing autopep8'
    pip3 install autopep8
    asdf reshim python
    success 'autopep8'
else
    skip 'autopep8'
fi

if ! [ -x "$(command -v stylua)" ]; then
    info '💻 Installing stylua'
    cargo install stylua
    asdf reshim rust
    success 'stylua'
else
    skip 'stylua'
fi

if ! [ -x "$(command -v shellcheck)" ]; then
    info '💻 Installing shellcheck'
    {{ if eq .chezmoi.os "darwin" -}}
    brew install shellcheck
    {{ else if eq .chezmoi.os "linux" -}}
    sudo apt install shellcheck
    {{ end -}}
    success 'shellcheck'
else
    skip 'shellcheck'
fi

if ! [ -x "$(command -v rustywind)" ]; then
    info '💻 Installing rustywind'
    npm install -g rustywind
    asdf reshim nodejs
else
    skip 'rustywind'
fi

echo ''
