#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

if ! [ -x "$(command -v bob)" ]; then
    info '💻 Installing bob'
    cargo install bob-nvim
    asdf reshim rust
    success 'bob'
else
    skip 'bob'
fi

bob install stable
bob use stable

pip3 install beautysh
pip3 install autopep8

{{ if eq .chezmoi.os "linux" -}}
    apt install -y stylua
{{ else if eq .chezmoi.os "darwin" -}}
    brew install stylua
{{ end -}}

echo ''
