#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '👆 Installing thefuck'

{{ if eq .chezmoi.os "linux" -}}

pip install --user thefuck

{{ else if eq .chezmoi.os "darwin" -}}

brew install thefuck

{{ end -}}

success 'thefuck'

echo ''
