#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '🟩 Installing nodejs asdf'
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
success 'nodejs asdf'

info '🟩 Installing nodejs lts'
asdf install nodejs lts
asdf global nodejs lts
success 'nodejs lts'

echo ''
