#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '💤 Installing zsh'

{{ if eq .chezmoi.os "linux" -}}

sudo apt update
sudo apt install -y zsh

{{ else if eq .chezmoi.os "darwin" -}}

brew install zsh

{{ end -}}

success 'zsh'

#=============
# change default shell to zsh
#=============
if [ "$(basename "$SHELL")" = "zsh" ]; then
    info 'Default shell is already zsh'
else
    info 'Changing default shell to zsh'
    chsh -s $(which zsh)
    success 'zsh set to default shell'
fi

info '🚀 Installing Starship'

{{ if eq .chezmoi.os "linux" -}}

curl -sS https://starship.rs/install.sh | sh

{{ else if eq .chezmoi.os "darwin" -}}

brew install starship

{{ end -}}

success 'Starship'

echo ''
