#!/bin/sh

cd /tmp
git clone --filter=blob:none --sparse https://github.com/ryanoasis/nerd-fonts.git
cd nerd-fonts
git sparse-checkout add patched-fonts/JetBrainsMono
cd nerd-fonts

{{ if eq .chezmoi.os "darwin" -}}
./install.sh JetBrainsMono
{{ else if eq .chezmoi.os "linux" -}}
powershell.exe -File ./install.ps1 JetBrainsMono
{{ end -}}
cd ..
rm -rf nerd-fonts
