#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '📦 Installing packages'

{{ if eq .chezmoi.os "linux" -}}
    sudo apt install -y ripgrep thefuck autojump exa xclip
{{ else if eq .chezmoi.os "darwin" -}}
    brew install ripgrep thefuck autojump exa
{{ end -}}

success 'packages'

echo ''
