#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

if ! [ -x "$(command -v bob)" ]; then
    info '💻 Installing bob'
    cargo install bob-nvim
    asdf reshim rust
    success 'bob'
else
    skip 'bob'
fi

bob install stable
bob use stable

info '💻 Installing beautysh'
pip3 install beautysh
success 'beautysh'

info '💻 Installing autopep8'
pip3 install autopep8
success 'autopep8'

info '💻 Installing stylua'
cargo install stylua
asdf reshim rust
success 'stylua'

echo ''
