#!/bin/bash

. "$(chezmoi target-path)/.czhelpers"

echo ''

{{ if eq .chezmoi.os "linux" -}}
if ! [ -x "$(command -v google-chrome)" ]; then
	info '🌐 Installing chrome'
	wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
	sudo apt install -y ./google-chrome-stable_current_amd64.deb
else
	skip 'chrome'
fi

if ! [ -x "$(command -v chromedriver)" ]; then
	info '🤖 Installing chromedriver'
	latest=$(curl -s https://googlechromelabs.github.io/chrome-for-testing/LATEST_RELEASE_STABLE)
	wget https://storage.googleapis.com/chrome-for-testing-public/$latest/linux64/chromedriver-linux64.zip
	unzip chromedriver-linux64.zip
	sudo chmod +x chromedriver-linux64/chromedriver
	mv chromedriver-linux64/chromedriver ~/.local/bin/chromedriver
	rm -rf chromedriver-linux64 chromedriver-linux64.zip
else
	skip 'chromedriver'
fi
{{ end -}}

echo ''
