#!/bin/bash

. "$(chezmoi target-path)/.czhelpers"

echo ''

info '📦 Installing media conversion packages'
package_install "ffmpeg imagemagick"
{{ if eq .chezmoi.os "darwin" -}}
package_install "media-info"
{{ else if eq .chezmoi.os "linux" -}}
package_install "mediainfo"
{{ end -}}
success 'media conversion packages'

info '📦 Installing core personal packages'
package_install "fzf jq direnv"
{{ if eq .chezmoi.os "darwin" -}}
package_install "atuin"
{{ else if eq .chezmoi.os "linux" -}}
cargo_binstall "atuin"
{{ end -}}
success 'core personal packages'

info '📦 Installing git packages'
package_install "gh"
{{ if eq .chezmoi.os "darwin" -}}
package_install "difftastic"
{{ else if eq .chezmoi.os "linux" -}}
cargo_binstall "difftastic"
{{ end -}}
success 'git packages'

info '📦 Installing convenience personal packages'
package_install "zoxide ripgrep bat"
{{ if eq .chezmoi.os "darwin" -}}
package_install "eza trash"
{{ else if eq .chezmoi.os "linux" -}}
cargo_binstall "eza"
{{ end -}}
success 'convenience personal packages'

info '📦 Installing yazi'
{{ if eq .chezmoi.os "darwin" -}}
package_install "yazi sevenzip poppler fd font-symbols-only-nerd-font"
{{ else if eq .chezmoi.os "linux" -}}
package_install "yazi 7zip poppler-utils fd-find"
{{ end -}}
success 'yazi'

info 'Installing benchmarking tools'
cargo_binstall "hyperfine oha"
success 'benchmarking tools'

info 'Installing other rust cli tools'
cargo_binstall "just"
{{ if eq .chezmoi.os "linux" -}}
cargo_binstall "bottom"
{{ end -}}
success 'other rust cli tools'

echo ''
