#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

info 'Installing python prereqs'
{{ if eq .chezmoi.os "darwin" -}}
# This fixes the "No module named '_ctypes'" error
package_install "libffi"
{{ else if eq .chezmoi.os "linux" -}}
# This fixes the "No module named '_ctypes'" error
package_install "libffi-dev"
{{ end -}}
success 'python prereqs'

info 'Installing python'
mise install python

echo ''
