#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

info '📦 Setting up zsh'

{{ if eq .chezmoi.os "linux" -}}
package_install "zsh"
{{ end -}}

if ! [ -d "$HOME/powerlevel10k" ]; then
	info 'Installing powerlevel10k'
	git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/powerlevel10k
	success 'powerlevel10k'
else
	skip 'powerlevel10k already installed, updating instead'
	cd "$HOME/powerlevel10k/" || exit
	git pull
fi

{{ if eq .chezmoi.os "darwin" -}}
package_install "vivid"
{{ else if eq .chezmoi.os "linux" -}}
if ! [ -x "$(command -v "vivid")" ]; then
	info "📦 Installing vivid"
	tmproot=${TMPDIR:-${TEMP:-${TMP:-/tmp}}}
	cd "$tmproot"

	VIVID_VERSION=$(curl -s "https://api.github.com/repos/sharkdp/vivid/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
	filename="vivid_${VIVID_VERSION}_amd64.deb"
	wget "https://github.com/sharkdp/vivid/releases/download/v${VIVID_VERSION}/${filename}"
	sudo dpkg -i "${filename}"

	rm "$filename"
	success "vivid"
else
	skip "vivid"
fi
{{ end -}}

# change default shell to zsh
if [ "$(basename "$SHELL")" = "zsh" ]; then
	info 'Default shell is already zsh'
else
	info 'Changing default shell to zsh'
	chsh -s "$(command -v zsh)"
	success 'zsh set to default shell'
fi

echo ''
