#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

{{ if eq .chezmoi.os "darwin" -}}

info 'Installing JetBrainsMono Nerd Font'
package_install "font-jetbrains-mono-nerd-font"
info 'Installing FiraCode Nerd Font'
package_install "font-fira-code-nerd-font"

{{ else if eq .chezmoi.os "linux" -}}

info 'Installing JetBrainsMono Nerd Font'

cd /tmp
git clone --filter=blob:none --sparse https://github.com/ryanoasis/nerd-fonts.git nerd-fonts
cd nerd-fonts
git sparse-checkout add patched-fonts/JetBrainsMono

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
powershell.exe -ExecutionPolicy Bypass -File ./install.ps1 JetBrainsMono
{{   else -}}
./install.sh JetBrainsMono
{{   end -}}

cd /tmp
rm -rf /tmp/nerd-fonts
success 'JetBrainsMono Nerd Font'

{{ end -}}

echo ''
