#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

cargo_install "cargo-binstall"
cargo_binstall "cargo-watch cargo-update"
cargo_binstall "bacon"

# Cross compilation
cargo_binstall "cross"

echo ''
