#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

info '🔥🐣 Installing Phoenix'

mix archive.install --force hex phx_new

success "Phoenix"

info '🔥🐣 Installing Livebook'

mix escript.install --force hex livebook

success "Livebook"

echo ''
