#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

if ! [ -x "$(command -v uv)" ]; then
	info 'Installing uv'
	curl -LsSf https://astral.sh/uv/install.sh | sh
	success 'uv'
else
	info 'uv already installed, updating'
	uv self update
	skip 'uv'
fi

echo ''
