#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

if ! [ -x "$(command -v laravel)" ]; then
	info 'Installing laravel'
	composer global require laravel/installer
	success 'laravel'
else
	skip 'laravel'
fi

echo ''
