#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

# Install composer
package_install "composer"

if ! [ -x "$(command -v laravel)" ]; then
	info 'Installing laravel'
	composer global require laravel/installer
	success 'laravel'
else
	skip 'laravel'
fi

echo ''
