#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

if ! [ -x "$(command -v laravel)" ]; then
	if ! [ -x "$(command -v composer)" ]; then
		error "composer not installed, skipping laravel installer"
	else
		info 'Installing laravel'
		composer global require laravel/installer
		success 'laravel'
	fi
else
	skip 'laravel'
fi

echo ''
