#!/bin/sh

. "$(chezmoi target-path)/.czhelpers"

echo ''

cargo_install "cargo-binstall"
cargo_binstall "cargo-watch cargo-update"
cargo_binstall "bacon"

# Cargo subcommand to bundle your code into one .rs file for competitive programming.
cargo_binstall "cargo-equip"

# Cross compilation
cargo_binstall "cross"

echo ''
