layout {
  pane split_direction="vertical" {
    pane edit="src/main.rs"
    pane split_direction="horizontal" {
      cargo { args "run"; }
      cargo { args "test"; }
      cargo { args "check"; }
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }

  pane_template name="cargo" {
    command "cargo"
    start_suspended true
  }
}
