layout {
  pane split_direction="vertical" {
    pane edit="src/main.rs"
    pane split_direction="horizontal" {
      bacon size="80%" { args "run"; }
      // bacon size="20%" { args "test"; }
      // bacon { args "clippy"; }
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }

  pane_template name="bacon" {
    command "bacon"
    close_on_exit true
    start_suspended false
  }
}
