#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "darwin" -}}

if ! [ -x "$(command -v flyctl)" ]; then
    info '🚀 Installing flyctl'
    brew install flyctl
    success 'flyctl'
else
    skip 'flyctl'
fi

{{ else if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v flyctl)" ]; then
    info '🚀 Installing flyctl'
    curl -L https://fly.io/install.sh | sh
    success 'flyctl'
else
    skip 'flyctl'
fi

{{ end -}}

echo ''
