#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '⚙️ Installing rust asdf'
asdf plugin-add rust https://github.com/code-lever/asdf-rust.git
success 'rust asdf'

info '⚙️ Installing rust'
asdf install rust stable
asdf global rust stable
success 'rust'

info '⚙️ Installing rust cross'
cargo install cross --git https://github.com/cross-rs/cross
success 'rust cross'

echo ''
