#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

if ! [ -x "$(command -v hyperfine)" ]; then
    info '📊 Installing hyperfine'

    cargo install --locked hyperfine
    asdf reshim rust

    success 'hyperfine'
else
    skip 'hyperfine'
fi


if ! [ -x "$(command -v hexyl)" ]; then
    info '0️⃣1️⃣ Installing hexyl'

    cargo install --locked hexyl
    asdf reshim rust

    success 'hexyl'
else
    skip 'hexyl'
fi

echo ''
