#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

if ! [ -x "$(command -v rustup)" ]; then
    info '⚙️ Installing rustup'
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    success 'rustup'
else
    info 'rustup already installed, updating'
    rustup update
    skip 'rustup'
fi

echo ''
