#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''


if ! [ -x "$(command -v broot)" ]; then
    info 🌳' Installing broot'
    cargo install --locked broot
    asdf reshim rust
    success 'broot'
else
    skip 'broot'
fi


echo ''
