#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

info '🥶 Installing go'
rtx install go@latest
rtx use --global go@latest
success 'go'

info '💨 Installing air'
go install github.com/cosmtrek/air@latest
success 'air'

echo ''
