#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v flow)" ]; then
    info '🌊 Installing flow'
    sh -ci "$(curl -fsSL https://raw.githubusercontent.com/onflow/flow-cli/master/install.sh)"
    success 'flow'
else
    skip 'flow'
fi

{{ else if eq .chezmoi.os "darwin" -}}

if ! [ -x "$(command -v flow)" ]; then
    info '🌊 Installing flow'
    brew install flow-cli
    success 'flow'
else
    skip 'flow'
fi

{{ end -}}

echo ''
