#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''
# do it again

info '💧 Installing elixir'

{{ if eq .chezmoi.os "linux" -}}

info '💧 Installing necessary packages for Erlang compilation'

apt-get -y install unzip build-essential autoconf m4 libncurses5-dev libwxgtk3.0-gtk3-dev libwxgtk-webview3.0-gtk3-dev libgl1-mesa-dev libglu1-mesa-dev libpng-dev libssh-dev unixodbc-dev xsltproc fop libxml2-utils libncurses-dev openjdk-11-jdk

{{ else if eq .chezmoi.os "darwin" -}}

info '💧 Installing necessary packages for Erlang compilation'

brew install autoconf openssl@1.1 wxwidgets libxslt fop

info '💧 Setting kerl configuration options to correct OpenSSL issues on macos'
export KERL_CONFIGURE_OPTIONS="--without-javac --with-ssl=$(brew --prefix openssl@1.1)"

{{ end -}}

info '💧 Installing erlang asdf'
mise plugin install erlang https://github.com/asdf-vm/asdf-erlang.git
success 'erlang asdf'

info '💧 Installing erlang'
mise use --global erlang 26.2.3
success 'erlang'

info '💧 Installing elixir asdf'
mise plugin install elixir https://github.com/asdf-vm/asdf-elixir.git
success 'elixir asdf'

info '💧 Installing elixir'
mise use --global elixir 1.16.2-otp-26
success 'elixir'

echo ''
