#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

if ! [ -x "$(command -v nvim)" ]; then
    info '💻 Installing asdf neovim'
    asdf plugin add neovim
    asdf install neovim stable
    asdf global neovim stable
    success 'asdf neovim'
else
    skip 'asdf neovim'
fi

# Formatting for bash
if ! [ -x "$(command -v beautysh)" ]; then
    info '💅 Installing beautysh'
    pip3 install beautysh
    asdf reshim python
    success 'beautysh'
else
    skip 'beautysh'
fi

# Formatting for python
if ! [ -x "$(command -v autopep8)" ]; then
    info '🫑  Installing autopep8'
    pip3 install autopep8
    asdf reshim python
    success 'autopep8'
else
    skip 'autopep8'
fi

# Provides formatting for lua
if ! [ -x "$(command -v stylua)" ]; then
    info '😎 Installing stylua'
    cargo binstall --no-confirm stylua
    success 'stylua'
else
    skip 'stylua'
fi


# Shellcheck provides code analysis for bash scripts
if ! [ -x "$(command -v shellcheck)" ]; then
    info '🤓 Installing shellcheck'
    {{ if eq .chezmoi.os "darwin" -}}
    brew install shellcheck
    {{ else if eq .chezmoi.os "linux" -}}
    sudo apt install shellcheck
    {{ end -}}

    success 'shellcheck'
else
    skip 'shellcheck'
fi

# Needed for tailwind formatting with null-ls
if ! [ -x "$(command -v rustywind)" ]; then
    info '💨 Installing rustywind'
    npm install -g rustywind
    asdf reshim nodejs
else
    skip 'rustywind'
fi

# Needed for danielfalk/smart-open.nvim
if ! [ -x "$(command -v sqlite)" ]; then
    info '💨 Installing sqlite'
    {{ if eq .chezmoi.os "linux" -}}
    sudo apt install sqlite3 libsqlite3-dev
    {{ else if eq .chezmoi.os "darwin" -}}
    brew install sqlite
    {{ end -}}
else
    skip 'sqlite'
fi

info '💻 Installing neovim packages'

nvim --headless "+Lazy! sync" +qa &>/dev/null
nvim --headless -c "call firenvim#install(0, 'export PATH=\"$PATH\"')" -c quit

success 'neovim packages'

echo ''
