#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''


if ! [ -x "$(command -v broot)" ]; then
    info '🌳 Installing broot'
    cargo binstall --no-confirm broot
    success 'broot'
else
    skip 'broot'
fi


echo ''
