#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

info '☕ Installing rlwrap'

{{ if eq .chezmoi.os "linux" -}}

sudo apt install rlwrap

{{ else if eq .chezmoi.os "darwin" -}}

brew install rlwrap

{{ end -}}

success 'rlwrap'

info '☕ Installing Java'
mise plugins install java
mise use --global java@adoptopenjdk-17.0.6+10
success 'Java'

info '🟢 Installing clojure'
mise plugins install clojure
mise use --global clojure@latest
success 'clojure'

echo ''
