#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

info '🟩 Installing nodejs asdf'
rtx plugin install nodejs https://github.com/asdf-vm/asdf-nodejs.git
success 'nodejs asdf'

info '🟩 Installing nodejs 19.7.0'
rtx install nodejs 19.7.0
success 'nodejs 19.7.0'

info '🟩 Installing nodejs 18.16.0'
rtx use --global nodejs 18.16.0
success 'nodejs 18.16.0'

info '🟩 Installing yarn'
npm install -g yarn
success 'yarn'

echo ''
