#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

if ! [ -x "$(command -v lazycli)" ]; then
    info '😴 Installing lazycli'
    cargo binstall --no-confirm lazycli
    success 'lazycli'
else
    skip 'lazycli'
fi

echo ''
