#!/bin/bash

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "darwin" -}}

info '📊 Installing goaccess'
brew install goaccess
success 'goaccess'

{{ else if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v goaccess)" ]; then
    info '📊 Installing goaccess'
    wget -O - https://deb.goaccess.io/gnugpg.key | gpg --dearmor | sudo tee /usr/share/keyrings/goaccess.gpg >/dev/null
    echo "deb [signed-by=/usr/share/keyrings/goaccess.gpg arch=$(dpkg --print-architecture)] https://deb.goaccess.io/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/goaccess.list
    sudo apt-get update
    sudo apt-get install goaccess
    success 'goaccess'
else
    skip 'goaccess'
fi

{{ end -}}

echo ''
