#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

{{ if eq .chezmoi.os "linux" -}}

info '📂 Updating apt registry'
sudo apt update
sudo apt install -y curl git

if ! [ -x "$(command -v asdf)" ]; then
    info '💻 Installing asdf'
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
    success 'asdf'
else
    skip 'asdf'
fi

{{ else if eq .chezmoi.os "darwin" -}}

# homebrew install
if ! [ -x "$(command -v brew)" ]; then
    info '☕ Installing homebrew'
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    success 'homebrew'
else
    skip 'homebrew, updating it instead.'
    brew update
fi

# asdf install
brew install coreutils git

if ! [ -x "$(command -v asdf)" ]; then
    info '💻 Installing asdf'
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
    success 'asdf'
else
    skip 'asdf'
fi

{{ end -}}

echo ''
