#!/bin/sh

. $HOME/.local/share/chezmoi/helpers

echo ''

{{ if eq .chezmoi.os "linux" -}}

info '👓 Installing tmux'
sudo apt install -y tmux urlview fakeroot
success 'tmux'

# Install Facebook Path Picker https://github.com/facebook/PathPicker
if ! [ -x "$(command -v fpp)" ]; then
    info '📂 Installing Facebook PathPicker'
    cd /tmp
    git clone https://github.com/facebook/PathPicker.git
    cd PathPicker/debian

    ./package.sh
    sudo apt install ../pathpicker_*_all.deb

    cd /tmp
    rm -rf PathPicker
    success 'Facebook PathPicker'
else
    skip 'Facebook PathPicker'
fi

sudo apt remove fakeroot

# Install wemux
if ! [ -x "$(command -v wemux)" ]; then
    info '🧔👩 Installing wemux'
    sudo git clone https://github.com/zolrath/wemux.git /usr/local/share/wemux
    sudo ln -s /usr/local/share/wemux/wemux /usr/local/bin/wemux
    sudo cp /usr/local/share/wemux/wemux.conf.example /usr/local/etc/wemux.conf

    # Set wemux host user.
    sudo sed -i "13i host_list=(zolrath)" /usr/local/etc/wemux.conf
    success 'wemux'
else
    skip 'wemux'
fi

{{ else if eq .chezmoi.os "darwin" -}}
info '👓 Installing tmux'
brew install tmux
success 'tmux'

info '📂 Installing Facebook PathPicker'
brew install fpp urlview
success 'Facebook PathPicker'

info '🧔👩 Installing wemux'
brew install wemux

# Set wemux host user.
sudo sed -i "" "13s/brew/furd/" /usr/local/etc/wemux.conf
success 'wemux'
{{ end -}}

# Add tpm
if ! [ -d "$HOME/.tmux/plugins/tpm" ]; then
    info '👕 Installing tpm'
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
    success 'tpm'
else
    skip 'tpm'
fi

echo ''
