#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

if ! [ -x "$(command -v cargo-binstall)" ]; then
    info '⚙️ Installing cargo-binstall'
    cargo install cargo-binstall
    success 'cargo-binstall'
else
    skip 'cargo-binstall'
fi

if ! [ -x "$(command -v cargo-watch)" ]; then
    info '📦👀 Installing cargo watch'
    cargo binstall --no-confirm cargo-watch
    success 'cargo watch'
else
    skip 'cargo watch'
fi

# Find unused dependencies in Cargo.toml.
# https://github.com/est31/cargo-udeps
if ! [ -x "$(command -v cargo-udeps)" ]; then
    info '📦 Installing cargo udeps'
    cargo binstall --no-confirm cargo-udeps
    success 'cargo udeps'
else
    skip 'cargo udeps'
fi

# Cargo subcommand to bundle your code into one .rs file for competitive programming.
# https://github.com/qryxip/cargo-equip
if ! [ -x "$(command -v cargo-equip)" ]; then
    info '📦 Installing cargo equip'
    cargo binstall --no-confirm cargo-equip
    success 'cargo equip'
else
    skip 'cargo equip'
fi

if ! [ -x "$(command -v cross)" ]; then
    info '✝  Installing rust cross'
    cargo binstall --no-confirm cross
    success 'rust cross'
else
    skip 'rust cross'
fi

if ! [ -x "$(command -v bacon)" ]; then
    info '🥓 Installing bacon'
    cargo binstall --no-confirm bacon
    success 'bacon'
else
    skip 'bacon'
fi

if ! [ -x "$(command -v hyperfine)" ]; then
    info '📊 Installing hyperfine'

    cargo binstall --no-confirm hyperfine

    success 'hyperfine'
else
    skip 'hyperfine'
fi


if ! [ -x "$(command -v hexyl)" ]; then
    info '0xff Installing hexyl'

    cargo binstall --no-confirm hexyl

    success 'hexyl'
else
    skip 'hexyl'
fi

if ! [ -x "$(command -v bottom)" ]; then
    info 'Installing bottom'

    cargo binstall --no-confirm bottom

    success 'bottom'
else
    skip 'bottom'
fi

if ! [ -x "$(command -v print_key)" ]; then
    info '#️⃣  Installing print_key'

    cargo binstall --no-confirm print_key

    success 'print_key'
else
    skip 'print_key'
fi

if ! [ -x "$(command -v leetcode)" ]; then
    info '#️⃣  Installing leetcode cli'

    cargo install --git https://github.com/clearloop/leetcode-cli

    success 'leetcode cli'
else
    skip 'leetcode cli'
fi

if ! [ -x "$(command -v atuin)" ]; then
    info '🐢 Installing atuin'

    cargo binstall atuin

    success 'atuin'
else
    skip 'atuin'
fi

echo ''
