#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

info '🟩 Installing nodejs asdf'
rtx plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
success 'nodejs asdf'

info '🟩 Installing nodejs 19.7.0'
rtx global nodejs 19.7.0
success 'nodejs 19.7.0'

echo ''
