#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

info '⚙️ getting rust-src'
rustup component add rust-src
success 'rust-src'

if ! [ -x "$(command -v evcxr_repl)" ]; then
    info 'install evcxr_repl'
    cargo binstall --no-confirm evcxr_repl
    success 'evcxr_repl'
else
    skip 'evcxr_repl'
fi

if ! [ -x "$(command -v evcxr_jupyter)" ]; then
    info '⚙️ Installing rust evcxr_jupyter'
    cargo binstall --no-confirm evcxr_jupyter
    evcxr_jupyter --install
    success 'rust evcxr_jupyter'
else
    skip 'evcxr_jupyter'
fi

if ! [ -x "$(command -v jupyter)" ]; then
    info '⚙️ Installing jupyter notebook'
    {{ if eq .chezmoi.os "linux" -}}
    sudo apt install jupyter-notebook
    {{ else if eq .chezmoi.os "darwin" -}}
    brew install jupyter
    {{ end -}}
    success 'jupyter notebook'
else
    skip 'jupyter notebook'
fi

echo ''
