#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "linux" -}}

info '📂 Updating apt registry'
sudo apt update
sudo apt install -y curl git

if ! [ -x "$(command -v mise)" ]; then
	info '💻 Installing mise'
	curl https://mise.run | sh
	success 'mise'
else
	skip 'mise'
fi

{{ else if eq .chezmoi.os "darwin" -}}

# homebrew install
if ! [ -x "$(command -v brew)" ]; then
	info '☕ Installing homebrew'
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	success 'homebrew'
else
	skip 'homebrew, updating it instead.'
	brew update
fi

# asdf install
brew install coreutils git

if ! [ -x "$(command -v mise)" ]; then
	info '💻 Installing mise'
	(export MISE_INSTALL_PATH=~/.local/bin/mise && curl https://mise.run | sh)
	success 'mise'
else
	skip 'mise'
fi

{{ end -}}

echo ''
