# set default key bindings
set -g fish_key_bindings fish_default_key_bindings

set -x --global EDITOR nvim
set -x --global LESS -R
set -x --global FZF_DEFAULT_COMMAND 'rg --files --no-ignore-vcs --hidden'

{{ if eq .chezmoi.os "linux" -}}
set -x --global LOC "desktop"
{{ else if eq .chezmoi.os "darwin" -}}
set -x --global LOC "laptop"
{{ end -}}

# Source Multi-function files
source ~/.config/fish/functions/_navigation.fish
