# set default key bindings
set -g fish_key_bindings fish_default_key_bindings

set --universal zoxide_cmd j

# set some sensible default options to always pass into invocations of less
set -x LESS "--ignore-case --LONG-PROMPT --RAW-CONTROL-CHARS --tabs=4 --window=-4"

# don't store any history of commands executed in less
set -x LESSHISTFILE /dev/null

# point ripgrep at its config file
set -x RIPGREP_CONFIG_PATH ~/.config/ripgrep

set -x FZF_DEFAULT_COMMAND 'rg --files --no-ignore-vcs --hidden'
set -x FZF_DEFAULT_OPTS '--cycle --layout=reverse --border --height=90% --preview-window=wrap --marker="*"'
set -x FZF_LEGACY_KEYBINDINGS 0

set -x BAT_THEME "Catppuccin-macchiato"

set -x EDITOR "nvim"
set -x SHELL (which fish)
set -x TERM xterm-256color

set -x LANG en_US.UTF-8
set -x LC_ALL en_US.UTF-8
set -x LC_CTYPE en_US.UTF-8
set -x LANGUAGE en_US.UTF-8

{{ if eq .chezmoi.os "linux" -}}
set -x LOC "desktop"
{{ else if eq .chezmoi.os "darwin" -}}
set -x LOC "laptop"
{{ end -}}

set -x FLYCTL_INSTALL ~/.fly

set -x ERL_AFLAGS "-kernel shell_history enabled"
# Elixir XLA - use GPU
set -x XLA_TARGET "cuda118"

# Build Erlang docs to make elixir-ls happy
set -x KERL_BUILD_DOCS yes
# source secrets file, not exposed in dotfiles
source ~/.secrets
